<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.js"></script>


    <title>Questions App</title>
</head>
<body>
<div ng-app="questionsApp" ng-controller="homeController">

<section>
    <div class="container">
        <div class="row margin-bottom-search">
            <div class=" col-md-1 col-sm-1 col-xs-1">
                <a href="#"><i class="fa fa-chevron-circle-left fa-3x grey-text header-back"></i></a>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-9 col-xs-offset-1 header-logo">
                        <h2>QUESTION</h2>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 header-logo margin-plus">
                        <span class="fa fa-2x fa-plus-circle blue-text text-right"></span>
                    </div>
                    <div class="col-md-4 col-sm-3 header-top">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> <strong>My shelf</strong>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> <strong>All questions</strong>
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 header-top genre-font">
                        <p class="text-right"><i>Sort by: </i><a href="javascript:void(0)" class="sort-active">recent</a> <i>or</i> <a href="javascript:void(0)">hot</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br class="hidden-xs">
                <div class="row">
                    <div class="col-md-9 col-xs-12">
                        <div class="form-group">
                            <input class="form-control input-lg border-input-search" placeholder="Search questions">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="col-xs-12 btn btn-default btn-lg dark-grey-text border-search">
                            SEARCH
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-yellow">
    <div class="container yellow-shadow-right">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 background-lightgrey">
                <div class="col-md-12 col-sm-12 col-xs-12 shadow-right">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="row background-lightblue padding-user-bottom">
                                <div class="col-md-2  col-sm-2 col-xs-3 no-padding-left padding-user">
                                    <center><img src="img/me.jpg" width="60" class="img-circle img-responsive" ng-click="open()" alt="nameuser"></center>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9 no-padding-right padding-user">
                                    <p class="blue-text regular-font" ng-click="open()">Eva <span class="dark-grey-text">IS ASKING:</span></p>
                                    <a href="single_question_base.html"><p class="blue-text genre-font question"><i>Will insulin make my patient gain weight?</i></p></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row answer-columns">
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <div class="background-lightblue column">
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            ASKED
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2  col-sm-3 col-xs-3 ">
                                    <div class="column">
                                        <p class="text-center center-plus"><b>3</b></p>
                                        <div class="column-footer col-xs-10 col-xs-offset-1 text-center genre-font">
                                            <i><strong>more activities</strong></i>
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-sm hidden-xs ">
                                    <div class="column column-grey">
                                        <center><img src="img/apsycho.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2  hidden-sm hidden-xs">
                                    <div class="column column-grey">
                                        <center><img src="img/bane.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-sm hidden-xs">
                                    <div class="column column-grey">
                                        <center><img src="img/dexter.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2  col-xs-3">
                                    <div class="column column-grey">
                                        <center><img src="img/hannibal.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border-bold col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            ANSWERED
                                        </div>
                                        <div class="small-circle text-center">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="visible-xs visible-sm col-xs-6 col-sm-5 background-white no-padding-right right-column-answer h-stats">
                                    <div class="stats-column col-xs-10 col-xs-offset-1 genre-font">

                                        <p><strong>1</strong> <i>related discussion</i></p>
                                        <p><strong>6</strong> <i>peers involved</i></p>
                                        <p><strong>3</strong> <i>conversations</i></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 hidden-sm hidden-xs background-white no-padding-right right-column-answer">
                            <div class="stats-column col-xs-10 col-xs-offset-1 genre-font">

                                    <p><strong>1</strong> <i>related discussion</i></p>
                                    <br><br>
                                    <p><strong>6</strong> <i>peers involved</i></p>
                                    <br><br>
                                    <p><strong>3</strong> <i>conversations</i></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 background-lightgrey">
                <div class="col-md-12 col-sm-12  col-xs-12 shadow-right">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="row background-lightblue padding-user-bottom">
                                <div class="col-md-2 col-sm-2 col-xs-3 no-padding-left padding-user">
                                    <center><img src="img/dexter.jpg" width="60" class="img-circle img-responsive" alt="nameuser" ng-click="open()"></center>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9 no-padding-right padding-user">
                                    <p class="blue-text regular-font" ng-click="open()">Andrew <span class="dark-grey-text">IS ASKING:</span></p>
                                    <p class="blue-text genre-font question"><i>Vegan diet in diabetes treatment?</i></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row answer-columns">
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <div class="background-lightblue column">
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            ASKED
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-3 ">
                                    <div class="column">
                                        <p class="text-center center-plus"><b>6</b></p>
                                        <div class="column-footer col-xs-10 col-xs-offset-1 text-center genre-font">
                                            <i><strong>more activities</strong></i>
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-sm hidden-xs">
                                    <div class="column column-grey">
                                        <center><img src="img/me.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-sm hidden-xs">
                                    <div class="column column-grey">
                                        <center><img src="img/hannibal.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2  col-sm-2 hidden-sm hidden-xs">
                                    <div class="column column-grey">
                                        <center><img src="img/bane.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-3 ">
                                    <div class="column column-grey">
                                        <center><img src="img/apsycho.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border-bold col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            ANSWERED
                                        </div>
                                        <div class="small-circle text-center">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="visible-xs visible-sm col-xs-6 col-sm-5 background-white no-padding-right right-column-answer h-stats">
                                    <div class="stats-column col-xs-10 col-xs-offset-1 genre-font">

                                        <p><strong>1</strong> <i>related discussion</i></p>
                                        <p><strong>6</strong> <i>peers involved</i></p>
                                        <p><strong>3</strong> <i>conversations</i></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3  hidden-xs hidden-sm background-white no-padding-right right-column-answer">
                            <div class="stats-column col-xs-10 col-xs-offset-1 genre-font">

                                <p><strong>2</strong> <i>related discussion</i></p>
                                <br><br>
                                <p><strong>9</strong> <i>peers involved</i></p>
                                <br><br>
                                <p><strong>5</strong> <i>conversations</i></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12  col-xs-12 background-lightgrey">
                <div class="col-md-12 col-sm-12 col-xs-12 shadow-right">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12 ">
                            <div class="row background-lightblue padding-user-bottom">
                                <div class="col-md-2 col-sm-2 col-xs-3 no-padding-left padding-user">
                                    <center><img src="img/apsycho.jpg" width="60" class="img-circle img-responsive" alt="nameuser" ng-click="open()"></center>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-9 no-padding-right padding-user">
                                    <p class="blue-text regular-font" ng-click="open()">Joseph <span class="dark-grey-text">IS ASKING:</span></p>
                                    <p class="blue-text genre-font question"><i>Vegan diet to stop diabetes progress?</i></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row answer-columns">
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <div class="background-lightblue column">
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            ASKED
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 hidden-sm hidden-xs">
                                    <div class="column column-grey">
                                        <center><img src="img/bane.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-sm hidden-xs ">
                                    <div class="column column-grey">
                                        <center><img src="img/hannibal.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            COMMENTED
                                        </div>
                                        <div class="small-circle text-center grey-text">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-3 ">
                                    <div class="column column-grey">
                                        <center><img src="img/got.jpg" width="60" class="img-circle img-responsive" alt="nameuser"></center>
                                        <div class="column-footer-border-bold col-xs-10 col-xs-offset-1 text-center grey-text regular-font regular-font-13">
                                            ANSWERED
                                        </div>
                                        <div class="small-circle text-center">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="visible-xs visible-sm col-xs-6 col-sm-5 col-xs-offset-3 background-white no-padding-right right-column-answer h-stats">
                                    <div class="stats-column col-xs-10 col-xs-offset-1 genre-font">

                                        <p><strong>1</strong> <i>related discussion</i></p>
                                        <p><strong>6</strong> <i>peers involved</i></p>
                                        <p><strong>3</strong> <i>conversations</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 hidden-xs hidden-sm background-white no-padding-right right-column-answer">
                            <div class="stats-column col-xs-10 col-xs-offset-1 genre-font">

                                <p><strong>5</strong> <i>related discussion</i></p>
                                <br><br>
                                <p><strong>4</strong> <i>peers involved</i></p>
                                <br><br>
                                <p><strong>0</strong> <i>conversations</i></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-10 col-md-offset-1 background-lightgrey">
                <div class="col-md-12 shadow-right grey-border-top background-white">
                    <a href="javascript:void(0)" class="load-more-questions"><strong>load more questions</strong></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</section>

</div>
</body>
</html>